/* screen - about-slide-2 */

.about-slide-2 {
  background-color: var(--black);
  height: 2079px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.about-slide-2 .line-17-MFJN2D {
  background-color: transparent;
  height: 1px;
  left: 1172px;
  object-fit: cover;
  position: absolute;
  top: 136px;
  width: 170px;
}

.about-slide-2 .areeb-MFJN2D {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 184px;
  letter-spacing: 0.00px;
  line-height: 64px;
  position: absolute;
  text-align: center;
  top: 82px;
  white-space: nowrap;
  width: auto;
}

.about-slide-2 .entrepreneurship-MFJN2D {
  background-color: transparent;
  height: auto;
  left: 340px;
  letter-spacing: 0.00px;
  line-height: 64px;
  position: absolute;
  text-align: center;
  top: 82px;
  white-space: nowrap;
  width: auto;
}

.about-slide-2 .line-18-MFJN2D {
  background-color: transparent;
  height: 96px;
  left: 321px;
  object-fit: cover;
  position: absolute;
  top: 66px;
  width: 30px;
}

.about-slide-2 .contact-MFJN2D {
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
  font-family: var(--font-family-freightbigpro-lightitalic);
  font-size: 25px;
  font-style: italic;
  font-weight: 300;
  height: auto;
  left: 1670px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 102px;
  white-space: nowrap;
  width: auto;
}

.about-slide-2 .entrepreneurship-wPbNCR {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-freightbigpro-semibold);
  font-size: 23px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 1176px;
  letter-spacing: 0.00px;
  line-height: 23px;
  position: absolute;
  text-align: center;
  top: 102px;
  white-space: nowrap;
  width: auto;
}

.about-slide-2 .content-MFJN2D {
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
  font-family: var(--font-family-filmotypemaxwell-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1376px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 104px;
  white-space: nowrap;
  width: auto;
}

.about-slide-2 .group-14-MFJN2D {
  background-color: transparent;
  cursor: pointer;
  height: 29px;
  left: 1480px;
  position: absolute;
  top: 100px;
  width: 152px;
}

.about-slide-2 .design-7xkpxn {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-sybarite-smallitalic);
  font-size: var(--font-size-l);
  font-style: italic;
  font-weight: 400;
  height: 100%;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  right: -2px;
  text-align: center;
  top: 4px;
  white-space: nowrap;
  width: 79px;
}

.about-slide-2 .code-7xkpxn {
  -webkit-text-stroke: 0.5px var(--black);
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inputmono_compressed-light);
  font-size: 23.5px;
  font-style: normal;
  font-weight: 300;
  height: calc(100.00% + 1px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 23.5px;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
  width: 52px;
}

.about-slide-2 .text_label-7xkpxn {
  background-color: transparent;
  bottom: -1px;
  color: var(--white);
  font-family: var(--font-family-khmermn-regular);
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  height: 23px;
  left: calc(40.36% - 6px);
  letter-spacing: 0.00px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 15px;
}

.about-slide-2 .rectangle-31-MFJN2D {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  height: 475px;
  left: 184px;
  position: absolute;
  top: 324px;
  width: 1003px;
}

.about-slide-2 .rectangle-32-MFJN2D {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  height: 475px;
  left: 1262px;
  position: absolute;
  top: 324px;
  width: 475px;
}

.about-slide-2 .onward-MFJN2D {
  background-color: transparent;
  height: auto;
  left: 184px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 816px;
  white-space: nowrap;
  width: auto;
}

.about-slide-2 .rectangle-33-MFJN2D {
  background-color: var(--white);
  height: 475px;
  left: 184px;
  position: absolute;
  top: 324px;
  width: 1003px;
}

.about-slide-2 .rectangle-34-MFJN2D {
  background-color: var(--white);
  height: 475px;
  left: 1262px;
  position: absolute;
  top: 324px;
  width: 475px;
}

.about-slide-2 .candls-MFJN2D {
  background-color: transparent;
  height: auto;
  left: 1266px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 816px;
  white-space: nowrap;
  width: auto;
}

.about-slide-2 .rectangle-36-MFJN2D {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  height: 475px;
  left: 184px;
  position: absolute;
  top: 1022px;
  width: 475px;
}

.about-slide-2 .rectangle-37-MFJN2D {
  background-color: var(--white);
  height: 475px;
  left: 880px;
  position: absolute;
  top: 1022px;
  width: 856px;
}

.about-slide-2 .rectangle-38-MFJN2D {
  background-color: var(--white);
  height: 475px;
  left: 184px;
  position: absolute;
  top: 1022px;
  width: 620px;
}

.about-slide-2 .so-far-weve-saved-st-MFJN2D {
  background-color: transparent;
  height: auto;
  left: 184px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 861px;
  white-space: nowrap;
  width: auto;
}

.about-slide-2 .imagine-if-a-trading-MFJN2D {
  background-color: transparent;
  height: auto;
  left: 1262px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 865px;
  white-space: nowrap;
  width: auto;
}

.about-slide-2 .advisory-work-MFJN2D {
  background-color: transparent;
  height: auto;
  left: 184px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 1512px;
  white-space: nowrap;
  width: auto;
}

.about-slide-2 .in-my-free-time-ill-MFJN2D {
  background-color: transparent;
  height: auto;
  left: 184px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 1563px;
  white-space: nowrap;
  width: auto;
}

.about-slide-2 .green-candle-trading-MFJN2D {
  background-color: transparent;
  height: auto;
  left: 880px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 1512px;
  white-space: nowrap;
  width: auto;
}

.about-slide-2 .while-others-were-fr-MFJN2D {
  background-color: transparent;
  height: auto;
  left: 881px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 1563px;
  white-space: nowrap;
  width: auto;
}
