/* screen - code-and-design */

.code-and-design {
  background-color: var(--black);
  height: 1852px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}

.code-and-design .rectangle-31-x1RHLU {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  height: 475px;
  left: 184px;
  position: absolute;
  top: 324px;
  width: 1003px;
}

.code-and-design .rectangle-32-x1RHLU {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  height: 475px;
  left: 1262px;
  position: absolute;
  top: 324px;
  width: 475px;
}

.code-and-design .onward-x1RHLU {
  background-color: transparent;
  height: auto;
  left: 184px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 816px;
  white-space: nowrap;
  width: auto;
}

.code-and-design .rectangle-33-x1RHLU {
  background-color: var(--white);
  height: 475px;
  left: 184px;
  position: absolute;
  top: 324px;
  width: 1003px;
}

.code-and-design .rectangle-34-x1RHLU {
  background-color: var(--white);
  height: 475px;
  left: 1262px;
  position: absolute;
  top: 324px;
  width: 475px;
}

.code-and-design .candls-x1RHLU {
  background-color: transparent;
  height: auto;
  left: 1266px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 816px;
  white-space: nowrap;
  width: auto;
}

.code-and-design .rectangle-36-x1RHLU {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  height: 475px;
  left: 184px;
  position: absolute;
  top: 995px;
  width: 475px;
}

.code-and-design .rectangle-37-x1RHLU {
  background-color: var(--white);
  height: 475px;
  left: 996px;
  position: absolute;
  top: 995px;
  width: 740px;
}

.code-and-design .rectangle-38-x1RHLU {
  background-color: var(--white);
  height: 475px;
  left: 184px;
  position: absolute;
  top: 995px;
  width: 740px;
}

.code-and-design .so-far-weve-saved-st-x1RHLU {
  background-color: transparent;
  height: auto;
  left: 184px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 861px;
  white-space: nowrap;
  width: auto;
}

.code-and-design .imagine-if-a-trading-x1RHLU {
  background-color: transparent;
  height: auto;
  left: 1262px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 865px;
  white-space: nowrap;
  width: auto;
}

.code-and-design .candls-2vZ7cQ {
  background-color: transparent;
  height: auto;
  left: 188px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: center;
  top: 1514px;
  white-space: nowrap;
  width: auto;
}

.code-and-design .imagine-if-a-trading-2vZ7cQ {
  background-color: transparent;
  height: auto;
  left: 184px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 1580px;
  white-space: nowrap;
  width: auto;
}

.code-and-design .line-17-x1RHLU {
  background-color: transparent;
  height: 1px;
  left: 1480px;
  object-fit: cover;
  position: absolute;
  top: 135px;
  width: 156px;
}

.code-and-design .contact-x1RHLU {
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
  font-family: var(--font-family-freightbigpro-lightitalic);
  font-size: 25px;
  font-style: italic;
  font-weight: 300;
  height: auto;
  left: 1670px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 102px;
  white-space: nowrap;
  width: auto;
}

.code-and-design .entrepreneurship-x1RHLU {
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
  font-family: var(--font-family-freightbigpro-semibold);
  font-size: 23px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 1176px;
  letter-spacing: 0.00px;
  line-height: 23px;
  position: absolute;
  text-align: center;
  top: 102px;
  white-space: nowrap;
  width: auto;
}

.code-and-design .content-x1RHLU {
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
  font-family: var(--font-family-filmotypemaxwell-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1376px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 104px;
  white-space: nowrap;
  width: auto;
}

.code-and-design .design-x1RHLU {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-sybarite-smallitalic);
  font-size: var(--font-size-l);
  font-style: italic;
  font-weight: 400;
  height: auto;
  left: 1554px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 104px;
  white-space: nowrap;
  width: auto;
}

.code-and-design .code-x1RHLU {
  -webkit-text-stroke: 0.5px var(--black);
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inputmono_compressed-light);
  font-size: 23.5px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 1480px;
  letter-spacing: 0.00px;
  line-height: 23.5px;
  position: absolute;
  text-align: center;
  top: 102px;
  white-space: nowrap;
  width: auto;
}

.code-and-design .text_label-x1RHLU {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-khmermn-regular);
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1536px;
  letter-spacing: 0.00px;
  line-height: 21px;
  position: absolute;
  text-align: left;
  top: 107px;
  white-space: nowrap;
  width: auto;
}

.code-and-design .line-17-2vZ7cQ {
  background-color: transparent;
  height: 1px;
  left: 1376px;
  object-fit: cover;
  position: absolute;
  top: 136px;
  width: 65px;
}

.code-and-design .areeb-x1RHLU {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 184px;
  letter-spacing: 0.00px;
  line-height: 64px;
  position: absolute;
  text-align: center;
  top: 82px;
  white-space: nowrap;
  width: auto;
}

.code-and-design .line-18-x1RHLU {
  background-color: transparent;
  height: 96px;
  left: 319px;
  object-fit: cover;
  position: absolute;
  top: 73px;
  width: 30px;
}

.code-and-design .design-2vZ7cQ {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-sybarite-smallitalic);
  font-size: 48px;
  font-style: italic;
  font-weight: 400;
  height: auto;
  left: 495px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 97px;
  white-space: nowrap;
  width: auto;
}

.code-and-design .code-2vZ7cQ {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-inputmono_compressed-light);
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 334px;
  letter-spacing: 0.00px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 97px;
  white-space: nowrap;
  width: auto;
}

.code-and-design .text_label-2vZ7cQ {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-khmermn-regular);
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 450px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 102px;
  white-space: nowrap;
  width: auto;
}

.code-and-design .sometimes-i-code-and-x1RHLU {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-dinosaur-book);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 184px;
  letter-spacing: 0.00px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 220px;
  white-space: nowrap;
  width: auto;
}
