/* screen - ipad-news-4 */

.ipad-news-4 {
  background: linear-gradient(227.12deg, #e749ac -46.59%, #e49457 8.97%, #c742c9 92.66%);
  background-color: rgba(255,255,255,1.0);
  height: 100vh;
  margin: 0px;
  min-height: 1083px;
  min-width: 1366px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

#overlay-ipad-news-4 {
  background-color: rgba(255,255,255,1.0);
}

.overlay .ipad-news-4 {
  background-color: #00000000;
}

#overlay-ipad-news-4 .ipad-news-4 {
  left: 0.0px;
  top: -153.0px;
}

#overlay-ipad-news-4 .container-center-horizontal {
  justify-content: normal;
}

.ipad-news-4 .hellosoulmyntcom-cIJLKY {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  letter-spacing: 0.78px;
  line-height: 52px;
  position: absolute;
  right: calc(28.44% - 140px);
  text-align: center;
  top: 592px;
  white-space: nowrap;
  width: 494px;
}

.ipad-news-4 .group-2002-cIJLKY {
  background-color: transparent;
  cursor: pointer;
  height: 82px;
  left: calc(4.12% - 2px);
  pointer-events: auto;
  position: absolute;
  top: 31px;
  transition: all 0.2s ease;
  width: 54px;
}

.ipad-news-4 .group-2002-cIJLKY:hover {
  transform: scale(1.1);
}

.ipad-news-4 .group-2001-nveYQ7 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 12px);
}

.ipad-news-4 .path-24-nveYQ7 {
  background-color: transparent;
  bottom: 4px;
  height: 52px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  width: 41px;
}

.ipad-news-4 .path-25-nveYQ7 {
  background-color: transparent;
  bottom: 8px;
  height: 23px;
  object-fit: cover;
  position: absolute;
  right: -1px;
  width: 15px;
}

.ipad-news-4 .drop-a-note-cIJLKY {
  background-color: transparent;
  cursor: pointer;
  height: 56px;
  left: calc(7.17% - 17px);
  letter-spacing: 0.70px;
  line-height: 47px;
  pointer-events: auto;
  position: absolute;
  text-align: center;
  top: 208px;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: 236px;
}

.ipad-news-4 .drop-a-note-cIJLKY:hover {
  transform: scale(1.1);
}

.ipad-news-4 .group-2476-cIJLKY {
  background-color: transparent;
  height: 346px;
  left: calc(26.04% - 77px);
  position: absolute;
  top: calc(36.92% - 128px);
  width: 297px;
}

.ipad-news-4 .path-236-wEVxeJ {
  background-color: transparent;
  height: calc(100.00% - 4px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.ipad-news-4 .line-55-wEVxeJ {
  background-color: transparent;
  bottom: 4px;
  height: 19px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 12px;
}

.ipad-news-4 .line-56-wEVxeJ {
  background-color: transparent;
  bottom: 0px;
  height: 5px;
  object-fit: cover;
  position: absolute;
  right: 1px;
  width: 22px;
}

.ipad-news-4 .icon-close-cIJLKY {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  object-fit: cover;
  position: absolute;
  right: 33px;
  top: 40px;
  width: 38px;
}

.ipad-news-4 .group-2407-cIJLKY {
  background-color: transparent;
  bottom: calc(25.15% - 21px);
  height: 83px;
  left: 169px;
  position: absolute;
  width: calc(100.00% - 339px);
}

.ipad-news-4 .icon-awesome-linkedin-in-ow0box {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 8px);
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  right: calc(38.87% - 29px);
  top: -1px;
  transition: all 0.2s ease;
  width: 75px;
}

.ipad-news-4 .icon-awesome-linkedin-in-ow0box:hover {
  transform: scale(1.1);
}

.ipad-news-4 .icon-ionic-logo-instagram-ow0box {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 2px);
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 2px;
  transition: all 0.2s ease;
  width: 81px;
}

.ipad-news-4 .icon-ionic-logo-instagram-ow0box:hover {
  transform: scale(1.1);
}

.ipad-news-4 .path-26-yS0haW {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: calc(100.00% + 2px);
}

.ipad-news-4 .path-27-yS0haW {
  background-color: transparent;
  height: 12px;
  object-fit: cover;
  position: absolute;
  right: calc(18.15% - 2px);
  top: calc(18.15% - 2px);
  width: 12px;
}

.ipad-news-4 .path-28-yS0haW {
  background-color: transparent;
  bottom: calc(50.00% - 21px);
  height: 43px;
  object-fit: cover;
  position: absolute;
  right: calc(50.00% - 21px);
  width: 43px;
}

.ipad-news-4 .icon-awesome-twitter-ow0box {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 10px);
  left: calc(20.58% - 17px);
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 6px;
  transition: all 0.2s ease;
  width: 81px;
}

.ipad-news-4 .icon-awesome-twitter-ow0box:hover {
  transform: scale(1.1);
}

.ipad-news-4 .icon-awesome-medium-m-ow0box {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 17px);
  left: calc(40.94% - 34px);
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 10px;
  transition: all 0.2s ease;
  width: 83px;
}

.ipad-news-4 .icon-awesome-medium-m-ow0box:hover {
  transform: scale(1.1);
}

.ipad-news-4 .icon-awesome-tumblr-ow0box {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 6px);
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  right: calc(21.51% - 10px);
  top: 4px;
  transition: all 0.2s ease;
  width: 47px;
}

.ipad-news-4 .icon-awesome-tumblr-ow0box:hover {
  transform: scale(1.1);
}

.ipad-news-4 .icon-awesome-youtube-ow0box {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 12px);
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  right: -1px;
  top: 7px;
  transition: all 0.2s ease;
  width: 100px;
}

.ipad-news-4 .icon-awesome-youtube-ow0box:hover {
  transform: scale(1.1);
}
