/* screen - mobile-650-news-contact */

.mobile-650-news-contact {
  background: linear-gradient(207.13deg, #e749ac -53.11%, #e49457 5.48%, #c742c9 93.72%);
  background-color: rgba(255,255,255,1.0);
  height: 100vh;
  margin: 0px;
  min-height: 1083px;
  min-width: 650px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

#overlay-mobile-650-news-contact {
  background-color: rgba(255,255,255,1.0);
}

.overlay .mobile-650-news-contact {
  background-color: #00000000;
}

.mobile-650-news-contact .hellosoulmyntcom-vxubBx {
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  letter-spacing: 0.46px;
  line-height: 31px;
  position: absolute;
  right: calc(14.12% - 42px);
  text-align: center;
  top: 576px;
  white-space: nowrap;
  width: 296px;
}

.mobile-650-news-contact .group-2002-vxubBx {
  background-color: transparent;
  cursor: pointer;
  height: 82px;
  left: calc(6.15% - 3px);
  pointer-events: auto;
  position: absolute;
  top: 31px;
  transition: all 0.2s ease;
  width: 54px;
}

.mobile-650-news-contact .group-2002-vxubBx:hover {
  transform: scale(1.1);
}

.mobile-650-news-contact .group-2001-xhAG6w {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 12px);
}

.mobile-650-news-contact .path-24-xhAG6w {
  background-color: transparent;
  bottom: 5px;
  height: 51px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  width: 40px;
}

.mobile-650-news-contact .path-25-xhAG6w {
  background-color: transparent;
  bottom: 9px;
  height: 22px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 14px;
}

.mobile-650-news-contact .group-2408-vxubBx {
  background-color: transparent;
  bottom: 129px;
  height: 154px;
  position: absolute;
  right: calc(50.00% - 167px);
  width: 335px;
}

.mobile-650-news-contact .icon-linkedin-MJfuA3 {
  background-color: transparent;
  bottom: 4px;
  cursor: pointer;
  height: 54px;
  left: -1px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: 55px;
}

.mobile-650-news-contact .icon-linkedin-MJfuA3:hover {
  transform: scale(1.1);
}

.mobile-650-news-contact .icon-ionic-logo-instagram-MJfuA3 {
  background-color: transparent;
  cursor: pointer;
  height: 58px;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 58px;
}

.mobile-650-news-contact .icon-ionic-logo-instagram-MJfuA3:hover {
  transform: scale(1.1);
}

.mobile-650-news-contact .path-26-BzLuRz {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: calc(100.00% + 2px);
}

.mobile-650-news-contact .path-27-BzLuRz {
  background-color: transparent;
  height: 9px;
  object-fit: cover;
  position: absolute;
  right: calc(17.78% - 2px);
  top: calc(17.78% - 2px);
  width: 9px;
}

.mobile-650-news-contact .path-28-BzLuRz {
  background-color: transparent;
  bottom: calc(50.00% - 15px);
  height: 31px;
  object-fit: cover;
  position: absolute;
  right: calc(50.00% - 15px);
  width: 31px;
}

.mobile-650-news-contact .icon-twitter-MJfuA3 {
  background-color: transparent;
  cursor: pointer;
  height: 53px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  right: calc(49.63% - 29px);
  top: 2px;
  transition: all 0.2s ease;
  width: 59px;
}

.mobile-650-news-contact .icon-twitter-MJfuA3:hover {
  transform: scale(1.1);
}

.mobile-650-news-contact .icon-awesome-medium-m-MJfuA3 {
  background-color: transparent;
  cursor: pointer;
  height: 48px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  right: -1px;
  top: 5px;
  transition: all 0.2s ease;
  width: 60px;
}

.mobile-650-news-contact .icon-awesome-medium-m-MJfuA3:hover {
  transform: scale(1.1);
}

.mobile-650-news-contact .icon-awesome-tumblr-MJfuA3 {
  background-color: transparent;
  bottom: -1px;
  cursor: pointer;
  height: 56px;
  left: calc(48.80% - 17px);
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: 34px;
}

.mobile-650-news-contact .icon-awesome-tumblr-MJfuA3:hover {
  transform: scale(1.1);
}

.mobile-650-news-contact .icon-youtube-MJfuA3 {
  background-color: transparent;
  bottom: 1px;
  cursor: pointer;
  height: 51px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  right: -1px;
  transition: all 0.2s ease;
  width: 72px;
}

.mobile-650-news-contact .icon-youtube-MJfuA3:hover {
  transform: scale(1.1);
}

.mobile-650-news-contact .drop-a-note-vxubBx {
  background-color: transparent;
  cursor: pointer;
  height: 41px;
  left: calc(7.74% - 13px);
  letter-spacing: 0.51px;
  line-height: 34px;
  pointer-events: auto;
  position: absolute;
  text-align: center;
  top: 220px;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: 172px;
}

.mobile-650-news-contact .drop-a-note-vxubBx:hover {
  transform: scale(1.1);
}

.mobile-650-news-contact .path-236-vxubBx {
  background-color: transparent;
  height: 309px;
  left: 90px;
  object-fit: cover;
  position: absolute;
  top: calc(35.24% - 109px);
  width: 196px;
}

.mobile-650-news-contact .line-55-vxubBx {
  background-color: transparent;
  bottom: calc(47.04% - 8px);
  height: 18px;
  left: calc(43.04% - 5px);
  object-fit: cover;
  position: absolute;
  width: 11px;
}

.mobile-650-news-contact .line-56-vxubBx {
  background-color: transparent;
  bottom: calc(46.10% - 2px);
  height: 5px;
  left: calc(42.14% - 9px);
  object-fit: cover;
  position: absolute;
  width: 20px;
}

.mobile-650-news-contact .icon-close-vxubBx {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  object-fit: cover;
  position: absolute;
  right: 33px;
  top: 41px;
  width: 38px;
}
