:root { 
  --black: #000000;
  --black-haze: #f7f7f7;
  --black-rock: #010331;
  --carrot-orange: #f68523;
  --chicago: #585858;
  --dove-gray: #707070;
  --fuchsia-pink: #cc51cd;
  --fuchsia-pink-2: #c63ec8;
  --gray-nurse: #e8e8e8;
  --gray-nurse-2: #eaeaea;
  --illusion: #f2a8cf;
  --maize: #f3cea3;
  --mandys-pink: #f3bfb5;
  --mercury: #e4e4e4;
  --new-york-pink: #d87181;
  --rose-quartz: #cc50a4;
  --rose-quartz-2: #cd52a4;
  --rose-quartz-3: #cd51a4;
  --silver: #bcbcbc;
  --silver-chalice: #afafaf;
  --sonic-silver: #767676;
  --star-dust: #9f9f9f;
  --white: #ffffff;
 
  --font-size-l: 22px;
  --font-size-m: 18px;
  --font-size-s: 15px;
  --font-size-xl: 24px;
  --font-size-xs: 13px;
  --font-size-xxl: 28px;
  --font-size-xxs: 12px;
 
  --font-family-dashiellfine-bold: "DashiellFine-Bold", Helvetica;
  --font-family-dashiellfine-regular: "DashiellFine-Regular", Helvetica;
  --font-family-dinosaur-book: "DINosaur-Book", Helvetica;
  --font-family-filmotypemaxwell-regular: "FilmotypeMaxwell-Regular", Helvetica;
  --font-family-freightbigpro-lightitalic: "FreightBigPro-LightItalic", Helvetica;
  --font-family-freightbigpro-semibold: "FreightBigPro-Semibold", Helvetica;
  --font-family-inputmono_compressed-light: "InputMono Compressed-Light", Helvetica;
  --font-family-khmermn-regular: "KhmerMN-Regular", Helvetica;
  --font-family-neuehaas_grotesk_display_pro-25thin: "NeueHaas Grotesk Display Pro-25Thin", Helvetica;
  --font-family-neuehaas_grotesk_display_pro-46light_italic: "NeueHaas Grotesk Display Pro-46Light Italic", Helvetica;
  --font-family-neuehaas_grotesk_display_pro-55roman: "NeueHaas Grotesk Display Pro-55Roman", Helvetica;
  --font-family-neuehaas_grotesk_display_pro-65medium: "NeueHaas Grotesk Display Pro-65Medium", Helvetica;
  --font-family-neuehaas_grotesk_display_pro-75bold: "NeueHaas Grotesk Display Pro-75Bold", Helvetica;
  --font-family-neuehaas_grotesk_display_pro-95black: "NeueHaas Grotesk Display Pro-95Black", Helvetica;
  --font-family-sybarite-smallitalic: "Sybarite-SmallItalic", Helvetica;
}
.neuehaasgroteskdisplaypro-25-thin-black-26px {
  color: var(--black);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-25thin);
  font-size: 26px;
  font-style: normal;
  font-weight: 100;
}

.neuehaasgroteskdisplaypro-65-medium-white-25px {
  color: var(--white);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-65medium);
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
}

.neuehaasgroteskdisplaypro-55roman-normal-black-15px {
  color: var(--black);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-55roman);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.neuehaasgroteskdisplaypro-55roman-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-55roman);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.neuehaasgroteskdisplaypro-25-thin-black-12px {
  color: var(--black);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-25thin);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 100;
}

.neuehaasgroteskdisplaypro-65-medium-white-31px {
  color: var(--white);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-65medium);
  font-size: 31px;
  font-style: normal;
  font-weight: 500;
}

.neuehaasgroteskdisplaypro-25-thin-black-19px {
  color: var(--black);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-25thin);
  font-size: 19px;
  font-style: normal;
  font-weight: 100;
}

.neuehaasgroteskdisplaypro-25-thin-black-14px {
  color: var(--black);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-25thin);
  font-size: 14px;
  font-style: normal;
  font-weight: 100;
}

.neuehaasgroteskdisplaypro-95-black-dove-gray-19px {
  color: var(--dove-gray);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-95black);
  font-size: 19px;
  font-style: normal;
  font-weight: 900;
}

.neuehaasgroteskdisplaypro-55roman-normal-white-40px {
  color: var(--white);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-55roman);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}

.dashiellfine-bold-white-8px {
  color: var(--white);
  font-family: var(--font-family-dashiellfine-bold);
  font-size: 8px;
  font-style: normal;
  font-weight: 700;
}

.neuehaasgroteskdisplaypro-55roman-normal-black-18px {
  color: var(--black);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-55roman);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.neuehaasgroteskdisplaypro-55roman-normal-black-13px {
  color: var(--black);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-55roman);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.neuehaasgroteskdisplaypro-55roman-normal-black-24px {
  color: var(--black);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-55roman);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.neuehaasgroteskdisplaypro-25-thin-black-18px {
  color: var(--black);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-25thin);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 100;
}

.neuehaasgroteskdisplaypro-65-medium-white-28px {
  color: var(--white);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-65medium);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.neuehaasgroteskdisplaypro-25-thin-black-13px {
  color: var(--black);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-25thin);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 100;
}

.neuehaasgroteskdisplaypro-55roman-normal-sonic-silver-11px {
  color: var(--sonic-silver);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-55roman);
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
}

.neuehaasgroteskdisplaypro-95-black-white-8px {
  color: var(--white);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-95black);
  font-size: 8px;
  font-style: normal;
  font-weight: 900;
}

.neuehaasgroteskdisplaypro-55roman-normal-sonic-silver-5px {
  color: var(--sonic-silver);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-55roman);
  font-size: 5px;
  font-style: normal;
  font-weight: 400;
}

.neuehaasgroteskdisplaypro-55roman-normal-sonic-silver-4px {
  color: var(--sonic-silver);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-55roman);
  font-size: 4px;
  font-style: normal;
  font-weight: 400;
}

.neuehaasgroteskdisplaypro-65-medium-fuchsia-pink-24px {
  color: var(--fuchsia-pink);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-65medium);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.dashiellfine-bold-white-17px {
  color: var(--white);
  font-family: var(--font-family-dashiellfine-bold);
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
}

.neuehaasgroteskdisplaypro-95-black-white-16px {
  color: var(--white);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-95black);
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
}

.neuehaasgroteskdisplaypro-55roman-normal-black-3px {
  color: var(--black);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-55roman);
  font-size: 3px;
  font-style: normal;
  font-weight: 400;
}

.neuehaasgroteskdisplaypro-95-black-black-69px {
  color: var(--black);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-95black);
  font-size: 69px;
  font-style: normal;
  font-weight: 900;
}

.neuehaasgroteskdisplaypro-95-black-black-19px {
  color: var(--black);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-95black);
  font-size: 19px;
  font-style: normal;
  font-weight: 900;
}

.neuehaasgroteskdisplaypro-55roman-normal-white-34px {
  color: var(--white);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-55roman);
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
}

.neuehaasgroteskdisplaypro-65-medium-white-13px {
  color: var(--white);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-65medium);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

.neuehaasgroteskdisplaypro-55roman-normal-black-10px {
  color: var(--black);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-55roman);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

.neuehaasgroteskdisplaypro-65-medium-white-17px {
  color: var(--white);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-65medium);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
}

.dashiellfine-bold-white-12px {
  color: var(--white);
  font-family: var(--font-family-dashiellfine-bold);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 700;
}

.neuehaasgroteskdisplaypro-95-black-black-31px {
  color: var(--black);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-95black);
  font-size: 31px;
  font-style: normal;
  font-weight: 900;
}

.neuehaasgroteskdisplaypro-95-black-black-40px {
  color: var(--black);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-95black);
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
}

.freightbigpro-semi-bold-white-35px {
  color: var(--white);
  font-family: var(--font-family-freightbigpro-semibold);
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
}

.dinosaur-book-normal-silver-chalice-22px {
  color: var(--silver-chalice);
  font-family: var(--font-family-dinosaur-book);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.neuehaasgroteskdisplaypro-55roman-normal-sonic-silver-8px {
  color: var(--sonic-silver);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-55roman);
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
}

.neuehaasgroteskdisplaypro-55roman-normal-black-20px {
  color: var(--black);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-55roman);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.neuehaasgroteskdisplaypro-65-medium-black-17px {
  color: var(--black);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-65medium);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
}

.dinosaur-book-normal-black-28px {
  color: var(--black);
  font-family: var(--font-family-dinosaur-book);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}

.neuehaasgroteskdisplaypro-25-thin-white-26px {
  color: var(--white);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-25thin);
  font-size: 26px;
  font-style: normal;
  font-weight: 100;
}

.neuehaasgroteskdisplaypro-95-black-white-40px {
  color: var(--white);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-95black);
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
}

.neuehaasgroteskdisplaypro-25-thin-white-14px {
  color: var(--white);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-25thin);
  font-size: 14px;
  font-style: normal;
  font-weight: 100;
}

.neuehaasgroteskdisplaypro-55roman-normal-black-45px {
  color: var(--black);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-55roman);
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
}

.neuehaasgroteskdisplaypro-65-medium-white-70px {
  color: var(--white);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-65medium);
  font-size: 70px;
  font-style: normal;
  font-weight: 500;
}

.neuehaasgroteskdisplaypro-55roman-normal-white-54px {
  color: var(--white);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-55roman);
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
}

.neuehaasgroteskdisplaypro-55roman-normal-black-22px {
  color: var(--black);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-55roman);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.neuehaasgroteskdisplaypro-55roman-normal-black-31px {
  color: var(--black);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-55roman);
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
}

.neuehaasgroteskdisplaypro-95-black-white-12px {
  color: var(--white);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-95black);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 900;
}

.neuehaasgroteskdisplaypro-25-thin-white-18px {
  color: var(--white);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-25thin);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 100;
}

.neuehaasgroteskdisplaypro-65-medium-white-52px {
  color: var(--white);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-65medium);
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
}

.neuehaasgroteskdisplaypro-55roman-normal-white-47px {
  color: var(--white);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-55roman);
  font-size: 47px;
  font-style: normal;
  font-weight: 400;
}

.neuehaasgroteskdisplaypro-55roman-normal-sonic-silver-6px {
  color: var(--sonic-silver);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-55roman);
  font-size: 6px;
  font-style: normal;
  font-weight: 400;
}

.neuehaasgroteskdisplaypro-65-medium-white-43px {
  color: var(--white);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-65medium);
  font-size: 43px;
  font-style: normal;
  font-weight: 500;
}

.neuehaasgroteskdisplaypro-95-black-black-47px {
  color: var(--black);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-95black);
  font-size: 47px;
  font-style: normal;
  font-weight: 900;
}

.neuehaasgroteskdisplaypro-95-black-black-30px {
  color: var(--black);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-95black);
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
}

.neuehaasgroteskdisplaypro-65-medium-fuchsia-pink-18px {
  color: var(--fuchsia-pink);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-65medium);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.neuehaasgroteskdisplaypro-65-medium-chicago-18px {
  color: var(--chicago);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-65medium);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.neuehaasgroteskdisplaypro-55roman-normal-black-29px {
  color: var(--black);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-55roman);
  font-size: 29px;
  font-style: normal;
  font-weight: 400;
}

.neuehaasgroteskdisplaypro-65-medium-fuchsia-pink-20px {
  color: var(--fuchsia-pink);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-65medium);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.neuehaasgroteskdisplaypro-95-black-white-7px {
  color: var(--white);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-95black);
  font-size: 7px;
  font-style: normal;
  font-weight: 900;
}

.neuehaasgroteskdisplaypro-55roman-normal-white-21px {
  color: var(--white);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-55roman);
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
}

.freightbigpro-lightitalic-light-black-33px {
  color: var(--black);
  font-family: var(--font-family-freightbigpro-lightitalic);
  font-size: 33px;
  font-style: italic;
  font-weight: 300;
}

.sybarite-smallitalic-normal-black-22px {
  color: var(--black);
  font-family: var(--font-family-sybarite-smallitalic);
  font-size: var(--font-size-l);
  font-style: italic;
  font-weight: 400;
}

.inputmonocompressed-light-black-23-5px {
  color: var(--black);
  font-family: var(--font-family-inputmono_compressed-light);
  font-size: 23.5px;
  font-style: normal;
  font-weight: 300;
}

.khmermn-regular-normal-black-21px {
  color: var(--black);
  font-family: var(--font-family-khmermn-regular);
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
}

.freightbigpro-semi-bold-white-64px {
  color: var(--white);
  font-family: var(--font-family-freightbigpro-semibold);
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
}

.dinosaur-book-normal-black-22px {
  color: var(--black);
  font-family: var(--font-family-dinosaur-book);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.neuehaasgroteskdisplaypro-95-black-white-52px {
  color: var(--white);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-95black);
  font-size: 52px;
  font-style: normal;
  font-weight: 900;
}

.neuehaasgroteskdisplaypro-65-medium-fuchsia-pink-17px {
  color: var(--fuchsia-pink);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-65medium);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
}

.neuehaasgroteskdisplaypro-95-black-black-52px {
  color: var(--black);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-95black);
  font-size: 52px;
  font-style: normal;
  font-weight: 900;
}

.neuehaasgroteskdisplaypro-55roman-normal-black-6px {
  color: var(--black);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-55roman);
  font-size: 6px;
  font-style: normal;
  font-weight: 400;
}

.neuehaasgroteskdisplaypro-55roman-normal-black-34px {
  color: var(--black);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-55roman);
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
}

.neuehaasgroteskdisplaypro-65-medium-fuchsia-pink-35px {
  color: var(--fuchsia-pink);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-65medium);
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
}

.dashiellfine-regular-normal-white-7px {
  color: var(--white);
  font-family: var(--font-family-dashiellfine-regular);
  font-size: 7px;
  font-style: normal;
  font-weight: 400;
}

.neuehaasgroteskdisplaypro-55roman-normal-black-26px {
  color: var(--black);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-55roman);
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
}

.neuehaasgroteskdisplaypro-55roman-normal-black-27px {
  color: var(--black);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-55roman);
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
}

.neuehaasgroteskdisplaypro-65-medium-fuchsia-pink-28px {
  color: var(--fuchsia-pink);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-65medium);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.neuehaasgroteskdisplaypro-95-black-black-43px {
  color: var(--black);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-95black);
  font-size: 43px;
  font-style: normal;
  font-weight: 900;
}

.dashiellfine-bold-white-5px {
  color: var(--white);
  font-family: var(--font-family-dashiellfine-bold);
  font-size: 5px;
  font-style: normal;
  font-weight: 700;
}

.neuehaasgroteskdisplaypro-95-black-white-5px {
  color: var(--white);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-95black);
  font-size: 5px;
  font-style: normal;
  font-weight: 900;
}

.neuehaasgroteskdisplaypro-55roman-normal-black-12px {
  color: var(--black);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-55roman);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.neuehaasgroteskdisplaypro-55roman-normal-black-8px {
  color: var(--black);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-55roman);
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
}

.neuehaasgroteskdisplaypro-55roman-normal-black-19px {
  color: var(--black);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-55roman);
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
}

.neuehaasgroteskdisplaypro-65-medium-fuchsia-pink-19px {
  color: var(--fuchsia-pink);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-65medium);
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
}

.neuehaasgroteskdisplaypro-55roman-normal-black-2px {
  color: var(--black);
  font-family: var(--font-family-neuehaas_grotesk_display_pro-55roman);
  font-size: 2px;
  font-style: normal;
  font-weight: 400;
}

.dinosaur-book-normal-black-18px {
  color: var(--black);
  font-family: var(--font-family-dinosaur-book);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.freightbigpro-lightitalic-light-black-25px {
  color: var(--black);
  font-family: var(--font-family-freightbigpro-lightitalic);
  font-size: 25px;
  font-style: italic;
  font-weight: 300;
}

.freightbigpro-semi-bold-black-23px {
  color: var(--black);
  font-family: var(--font-family-freightbigpro-semibold);
  font-size: 23px;
  font-style: normal;
  font-weight: 600;
}

:root {
}
