/* screen - web-1366-home-contact */

.web-1366-home-contact {
  background: linear-gradient(227.12deg, #e749ac -46.59%, #e49457 8.97%, #c742c9 92.66%);
  background-color: rgba(255,255,255,1.0);
  height: 100vh;
  margin: 0px;
  min-height: 1083px;
  min-width: 1366px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

#overlay-web-1366-home-contact {
  background-color: rgba(255,255,255,1.0);
}

.overlay .web-1366-home-contact {
  background-color: #00000000;
}

#overlay-web-1366-home-contact .web-1366-home-contact {
  left: 0.0px;
  top: -153.0px;
}

#overlay-web-1366-home-contact .container-center-horizontal {
  justify-content: normal;
}

.web-1366-home-contact .hellosoulmyntcom-KU86qH {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  letter-spacing: 0.78px;
  line-height: 52px;
  position: absolute;
  right: calc(28.44% - 140px);
  text-align: center;
  top: 592px;
  white-space: nowrap;
  width: 494px;
}

.web-1366-home-contact .group-2002-KU86qH {
  background-color: transparent;
  cursor: pointer;
  height: 82px;
  left: calc(4.12% - 2px);
  pointer-events: auto;
  position: absolute;
  top: 31px;
  transition: all 0.2s ease;
  width: 54px;
}

.web-1366-home-contact .group-2002-KU86qH:hover {
  transform: scale(1.1);
}

.web-1366-home-contact .group-2001-MZvCXm {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 12px);
}

.web-1366-home-contact .path-24-MZvCXm {
  background-color: transparent;
  bottom: 4px;
  height: 52px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  width: 41px;
}

.web-1366-home-contact .path-25-MZvCXm {
  background-color: transparent;
  bottom: 8px;
  height: 23px;
  object-fit: cover;
  position: absolute;
  right: -1px;
  width: 15px;
}

.web-1366-home-contact .drop-a-note-KU86qH {
  background-color: transparent;
  cursor: pointer;
  height: 56px;
  left: calc(7.17% - 17px);
  letter-spacing: 0.70px;
  line-height: 47px;
  pointer-events: auto;
  position: absolute;
  text-align: center;
  top: 208px;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: 236px;
}

.web-1366-home-contact .drop-a-note-KU86qH:hover {
  transform: scale(1.1);
}

.web-1366-home-contact .group-2476-KU86qH {
  background-color: transparent;
  height: 346px;
  left: calc(26.04% - 77px);
  position: absolute;
  top: calc(36.92% - 128px);
  width: 297px;
}

.web-1366-home-contact .path-236-ExLoGT {
  background-color: transparent;
  height: calc(100.00% - 4px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1366-home-contact .line-55-ExLoGT {
  background-color: transparent;
  bottom: 4px;
  height: 19px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 12px;
}

.web-1366-home-contact .line-56-ExLoGT {
  background-color: transparent;
  bottom: 0px;
  height: 5px;
  object-fit: cover;
  position: absolute;
  right: 1px;
  width: 22px;
}

.web-1366-home-contact .icon-close-KU86qH {
  background-color: transparent;
  cursor: pointer;
  height: 38px;
  object-fit: cover;
  position: absolute;
  right: 33px;
  top: 40px;
  width: 38px;
}

.web-1366-home-contact .group-2407-KU86qH {
  background-color: transparent;
  bottom: calc(25.15% - 21px);
  height: 83px;
  left: 169px;
  position: absolute;
  width: calc(100.00% - 339px);
}

.web-1366-home-contact .icon-awesome-linkedin-in-Y5ohTl {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 8px);
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  right: calc(38.87% - 29px);
  top: -1px;
  transition: all 0.2s ease;
  width: 75px;
}

.web-1366-home-contact .icon-awesome-linkedin-in-Y5ohTl:hover {
  transform: scale(1.1);
}

.web-1366-home-contact .icon-ionic-logo-instagram-Y5ohTl {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 2px);
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 2px;
  transition: all 0.2s ease;
  width: 81px;
}

.web-1366-home-contact .icon-ionic-logo-instagram-Y5ohTl:hover {
  transform: scale(1.1);
}

.web-1366-home-contact .path-26-SYAWIm {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: calc(100.00% + 2px);
}

.web-1366-home-contact .path-27-SYAWIm {
  background-color: transparent;
  height: 12px;
  object-fit: cover;
  position: absolute;
  right: calc(18.15% - 2px);
  top: calc(18.15% - 2px);
  width: 12px;
}

.web-1366-home-contact .path-28-SYAWIm {
  background-color: transparent;
  bottom: calc(50.00% - 21px);
  height: 43px;
  object-fit: cover;
  position: absolute;
  right: calc(50.00% - 21px);
  width: 43px;
}

.web-1366-home-contact .icon-awesome-twitter-Y5ohTl {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 10px);
  left: calc(20.58% - 17px);
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 6px;
  transition: all 0.2s ease;
  width: 81px;
}

.web-1366-home-contact .icon-awesome-twitter-Y5ohTl:hover {
  transform: scale(1.1);
}

.web-1366-home-contact .icon-awesome-medium-m-Y5ohTl {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 17px);
  left: calc(40.94% - 34px);
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 10px;
  transition: all 0.2s ease;
  width: 83px;
}

.web-1366-home-contact .icon-awesome-medium-m-Y5ohTl:hover {
  transform: scale(1.1);
}

.web-1366-home-contact .icon-awesome-tumblr-Y5ohTl {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 6px);
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  right: calc(21.51% - 10px);
  top: 4px;
  transition: all 0.2s ease;
  width: 47px;
}

.web-1366-home-contact .icon-awesome-tumblr-Y5ohTl:hover {
  transform: scale(1.1);
}

.web-1366-home-contact .icon-awesome-youtube-Y5ohTl {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 12px);
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  right: -1px;
  top: 7px;
  transition: all 0.2s ease;
  width: 100px;
}

.web-1366-home-contact .icon-awesome-youtube-Y5ohTl:hover {
  transform: scale(1.1);
}
